@import "variables.scss";
.boring-navbar {
    .navbar-brand {
        &:after{
            content: "|";
            padding-left: 20px;
            padding-right: 10px;
            color: $black;
        }
    }
}