@import "variables.scss";
.boring-card {
    border: none;
    box-shadow: 0px 10px 20px $shadow-black;
    .card-body{
        .list-group {
            border-bottom: 1px solid $shadow-black;
            padding-bottom: 10px;
            .list-group-item {
                padding: 0px;
                border-bottom: 0px;

                &:not(:first-child) {
                    margin-top: 10px;
                }
            }
        }
    }
    .link-container {
        padding: 0px 0px 20px 20px;
    }
}