.boring-hero {
    background-image: url("../../../../assets/img/jumbotron_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .container {
        color:white;
    }
  }