.boring-footer {
    background-color: #242424;
    bottom: 0;
    color: white;
    padding: 1em;
    .footer-text{
        display: inline-flex;
    }
    .footer-copyright{
        display: inline-flex;
    }
    .pull-right{
        float: right;
    }
  }