@import 'variables.scss';
.boring-footer {
    margin-top: 50px;
    background-color: $theme-black;
    bottom: 0;
    color: $white;
    padding: 1em;
    .footer-text{
        display: inline-flex;
    }
    .footer-copyright{
        display: inline-flex;
    }
    .pull-right{
        float: right;
    }
  }